<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salman i Educate Transform</title>
    <script src="../static/demo.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar background">
        <div class="logo"><img src="../static/logo6.png" alt="logo"></div>
        <ul class="navlist " id="home">
            <li><a href="#Home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="rightNav">
            <input type="search" class="search">
            <button class="btn1"> Search</button>
        </div>
    </nav>

    <form action="/contact" method="POST">
        <input type="text" name="name" id="name" placeholder="Enter Your Name">
        <input type="age" name="age" id="age" placeholder="Enter Your Age">
        <input type="email" name="email" id="email" placeholder="Enter Your Email">
        <input type="address" name="address" id="address" placeholder="Enter Your Address">
        <button class="submit" onclick="show()">Submit</button>
    </form>
    <footer class="ftn">
        <p class="text-footer ">
            Copyrigth &copy; 2027 - Salmansheriff706@gmail.com | All rights reserved
        </p>
    </footer>
</body>
</html>